body {
    background-color: #cee5f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#form {
    height: fit-content;
    width: fit-content;
    background-color: white;
    padding: 24px;
    border-radius: 10px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.1);
}